<!-- component -->
<link
  rel="stylesheet"
  href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
/>

<div class="min-h-screen flex flex-row bg-gray-100 text-white">
  <div class="flex flex-col w-56 bg-[#106630] overflow-hidden">
    <ul class="flex flex-col py-4">
      <li class="text-white hover:text-gray-800">
        <a
          href="{% url 'dashboard' %}"
          class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200"
        >
          <span
            class="inline-flex items-center justify-center h-12 w-12 text-lg"
            ><i class="bx bx-home"></i
          ></span>
          <span class="text-sm font-medium">Dashboard</span>
        </a>
      </li>

      <li class="text-white hover:text-gray-800">
        <a
          href="{% url 'item_view'  %}"
          class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200"
        >
          <span
            class="inline-flex items-center justify-center h-12 w-12 text-lg"
          >
            <i class="bx bx-laptop"></i>
          </span>
          <span class="text-sm font-medium">Items</span>
        </a>
      </li>

      <li class="text-white hover:text-gray-800">
        <a
          href="{% url 'add_Item'  %}"
          class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200"
        >
          <span
            class="inline-flex items-center justify-center h-12 w-12 text-lg"
            ><i class="bx bx-add-to-queue"></i
          ></span>
          <span class="text-sm font-medium">Add Items</span>
        </a>
      </li>

      <li class="text-white hover:text-gray-800">
        <a
          href="#"
          class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200"
        >
          <span
            class="inline-flex items-center justify-center h-12 w-12 text-lg"
            ><i class="bx bx-receipt"></i
          ></span>
          <span class="text-sm font-medium">Transactions</span>
        </a>
      </li>

      <li class="text-white hover:text-gray-800">
        <a
          {% comment %} href="{% url 'transaction_view'  %}" {% endcomment %}
          class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200"
        >
          <span
            class="inline-flex items-center justify-center h-12 w-12 text-lg"
            ><i class="bx bx-book-add"></i
          ></span>
          <span class="text-sm font-medium">Add Transactions</span>
        </a>
      </li>
    </ul>
  </div>
</div>
